# Type Conversion

### all types to str

In [1]:
age=41
type(age)

int

In [2]:
str(age)

'41'

In [3]:
type(age)

int

In [4]:
age=str(age)

In [5]:
type(age)

str

# str to int

In [6]:
age_1="33"
type(age_1)

str

In [7]:
int(age_1)

33

In [14]:
age_2="32"

In [15]:
2024 - int(age_2)

1992

### str to float

In [16]:
pi_number=3.14

In [17]:
type(pi_number)

float

In [18]:
float("3.14")

3.14

##float to int, int to float

In [19]:
int(5.4)

5

In [20]:
float(5)

5.0

In [21]:
float(3.14)

3.14

In [22]:
int(float("3.14"))

3

###Arithmetic Operators

In [23]:
3+5

8

In [24]:
40/10 #division

4.0

In [25]:
8 * 6

48

In [26]:
40//10 # floor division

4

In [27]:
40 % 11 #modulus operator

7

In [28]:
pow(5,2)

25

In [29]:
5**3

125

In [30]:
25 ** (1 / 2)

5.0

In [35]:
r=7
Area= 3.14 * r ** 2
print(Area)

153.86

In [36]:
r=9
pi= 3.14
print(int(pi * (r ** 2)))

254

In [37]:
a=5
b=12
c=(a ** 2 +b ** 2) **(1/2)
print(c)

13.0