# pep 8 kurallari
###  pep 8 kurallari
#####   pep 8 kurallari

In [1]:
#markdown sec shift enter bass o zaman baslik cikar 
# ### sembol sayisi bana basligi kucultur

In [2]:
3+5

8

In [ ]:
print(""" bugun python dersinin ikinci gunu
      bir tirnak mevzusu aldi basini gidiyor 
      insallah cok sikici olmadan mevzu biter""") 
#pep8 derki bir satirda 79 dan fazla karakter olmasin

Variables

In [4]:
course = "Techpro education"

In [5]:
print(course)

Techpro education

In [6]:
name="demet"

In [7]:
print(name)

demet

In [9]:
age= 41

In [10]:
print(name,age)

demet 41

In [13]:
print("isim :",name,"age: ",age)

isim : demet age:  41

In [16]:
age_1=12
print(age_1)
del age_1

12

In [17]:
name_8, name_9="Ramiz","Serife"
print(name_8)
print(name_9)

Ramiz
Serife

In [ ]:
jan = mar = may = july = aug = dec=31
feb = 29
apr = jun = sep = nov =30
apr ,jun , sep , nov =30,30,30,30

In [18]:
type("hello word" )

str

In [19]:
type(name)

str

In [20]:
35
type(35)

int

In [22]:
negative_number=-33
type(negative_number)
3.14
type(3.14)

float

In [23]:
pi_number=3,14
type(pi_number)

tuple

boolean

In [24]:
type(False) #matematiksel karsiligi 0 sifirdir.Yoklugu/ hicligi ifade eder

bool

In [25]:
type(True) #matematiksel karsiligi 1 dir. Varligi ifade eder

bool

In [26]:
car_model="Toyota"
car_years=5
car_km=644477.4
car_crash=True

In [27]:
type(car_crash)

bool

In [28]:
type(car_km)

float